.projects-h2 {
  color: var(--white);
  background: linear-gradient(to right, #FC2683, var(--medium-gray),#5FD3BB);
  padding: 1rem 2rem 0;
  margin: 0;
  text-align: left;
  border-top-right-radius: 1.1rem;
  border-top-left-radius: 1.1rem;
  opacity: .8;
}

h3 {
  color: #0024aa;
  padding: .7rem;
  margin: 0 auto;
  text-align: center;
}

.project {
  background-color: #fafafa;
  padding: 1rem;
  margin: .5rem;
  border-radius: var(--border-radius);
  align-items: center;
  box-shadow: 1px 1px 1px #F5F5F5;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.project:hover {
  background-color: #FFF;
  transition: 0.3s ease all;
  box-shadow: 1px 1px 1px #BDBDBD;
  transform: scale(1.01);
}

.tech-stack {
  margin: 0;
  padding: 1rem 1rem 0;
  text-align: center;
}

.tech-stack span {
  color: #01579B;
  font-weight: 500;
}

.project-info {
  padding: .5rem;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  max-height: 12rem;
  margin: 1.5rem auto;
  overflow-y: auto;
  
}

.project h3 {
  margin: 0 0 0 1rem;
  color:  #01579B;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 1px;
}
.project-info p {
  color: #616161;
  word-wrap: break-word;
  margin: 0 0 1rem;
  padding: 1rem;
  text-align: center;
}
.project img {
  object-fit: cover;
  display: block;
  width: min(100%, 25rem);
  border-radius: var(--border-radius);
  margin: 1rem auto 0;
}
