.content ul {
  padding-left: 0;
  list-style: none;
  margin: 2rem;
  padding: 1rem;
}

.tab-container {
  margin: 0 auto;
  border-radius: var(--border-radius);
}

.tab-container h2 {
  border-radius: 0;
  background-color: var(--hot-pink);
  padding: 1rem 2rem 0;
  opacity: .8;
  margin: .5rem 0 0;
}

.tab-container li:first-child h2 {
  border-top-left-radius: var(--border-radius);
  /* border-right: .3rem solid var(--teal); */
}

.tab-container li:last-child h2 {
  border-top-right-radius: var(--border-radius);
  /* border-left: .3rem solid var(--teal); */
}

.tab-nav {
  display: flex;
  padding-left: 0;
  justify-content: center;
}

.tab-nav li {
  list-style: none;
}

.active.content {
	display: block;
	background-color: var(--white);
	color: var(--raisin-black);
  width: 100%;
  top: 7rem;
  left: 0;
}

.tabs {
	background-color: var(--white);
	color: #fff;
  cursor: pointer;
}
.active.tabs h2 {
	border-bottom: .5rem solid var(--teal);
	background-color: var(--light-gray);
	color: var(--hot-pink);
}

.content {
	display: none;
}

.content ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.service-card {
  background-color: var(--teal);
  padding: 1rem;
  border-radius: var(--border-radius);
}

.service-card p {
  font-size: 1.3rem;
}

@media screen and (max-width: 775px) {
  .tab-nav {
    flex-direction: column;
  }
  .tab-container h2 {
    border-radius: 0;
  }
  .tab-container h2:first-child {
    border-radius: var(--border-radius);
  }
  .tab-container h2 {
    margin: 0;
    border: .3rem solid var(--hot-pink);
  }
  .active.tabs h2 {
    border: .3rem solid var(--teal);
    transition: 3ms ease-in;
  }
}