.content ul {
  padding-left: 0;
  list-style: none;
  margin: 2rem;
  padding: 1rem;
}

.tab-container {
  margin: 0 auto;
  border-radius: var(--border-radius);
}

.tab-container h2 {
  border-radius: 0;
}

.tab-nav {
  display: flex;
  padding-left: 0;
}

.active.content {
	display: block;
	background-color: var(--white);
	color: #000;
  width: 100%;
  top: 7rem;
  left: 0;
}

.tabs {
	background-color: var(--white);
	color: #fff;
  cursor: pointer;
}
.active.tabs h2 {
	border-bottom: .5rem solid var(--bus-green);
	background-color: #fff;
	color: #000;
}

.content {
	display: none;
}

.content ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.service-card {
  background-color: var(--teal);
  padding: 1rem;
  border-radius: var(--border-radius);
}

@media screen and (max-width: 775px) {
  .tab-nav {
    flex-direction: column;
  }
  .tab-container h2 {
    border-radius: 0;
  }
  .tab-container h2:first-child {
    border-radius: var(--border-radius);
  }
}